.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.loading {
  text-align: center;
  font-size: 1.5em;
  color: #666;
}

.first-card {
  margin: 20px auto;
  text-align: center;
}
